################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookMyShow-portal/.vs
/BookMyShow-portal/.vscode
